label#sound-name {
    font-size: 1.2em;
    font-family: monospace;
    font-weight: bold;
}

#row {
    border-radius: 4px;
    margin: 3px 4px 3px 4px;
    padding: 4px;
    background-color: #fff;
}

#downloaded {
    background-color: #f8f8f8;
    color: black;
}

button#add-sound > label {
    color: black;
    background-color: lightgray;
    border: none;
}

button#add-sound {
    border-radius: 4px;
    margin: 3px 4px 3px 4px;
    padding: 4px;
    background-color: lightgray;
}

button#play-button {
    border-radius: 10px;
    color: #0002e5;
    border-color: #5354f1;
    border-style: solid;
    border-width: 2px;
    background: none;
}

label.fa {
    font-size: 1.5em;
    font-family: "Fontawesome 5 Pro";
    font-weight: 900;
}

button {
    margin-left: 2px;
    margin-right: 2px;

    border-style: solid;
    border-radius: 4px;
    border-image: none;

    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);

    transition: box-shadow 0.5s;
}

button:hover {
    border-color: #2EE2E6;
    box-shadow: 0 0 2px 1px rgba(101,170,230,1);
}

button:active {
    box-shadow: 0 0 5px 1px rgba(101,170,230,1);
}

.conf-button {
    color: black;
    background: none;
    border: none;

    font-family: "Fontawesome 5 Pro";
    font-weight: 900;
}

.pager {
    border: none;
}

.pager:hover {
    border: none;
    box-shadow: none;
}

#conf-bar {
    margin: 3px 8px 3px 8px;

    background-color: white;
}

#main-box {
    background-color: white;
}

#search-bar {
    border-radius: 4px 4px 0 0;
    padding: 2px 10px 2px 10px;
    background-color: white;
}

#search-button {
    border-radius: 4px 0 0 4px;
    margin-right: 0;
    border-right: none;
}

#search-entry {
    border-radius: 0 4px 4px 0;
    margin-left: 0;
}

#search-entry:focus {
    border-color: #2EE2E6;
    box-shadow: 0 0 2px 1px rgba(101,170,230,1);
}
